*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: comic sans ms, cursive, sans-serif;
}
body{
    background:#f4f4f4;
}
.logo {
    width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius:30px;
}
.contenedor-principal {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}
.contenedor1,
.contenedor2,
.contenedor3 {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.contenedor3 {
    min-width: 250px;
}
h1{
    text-align:center;
    color:#d35400;
}
h2{
    text-align:center;
}
p{
    text-align:center;
    margin-bottom:20px;
}
fieldset{
    margin-bottom:20px;
    padding:20px;
    border:2px solid #d35400;
    border-radius:8px;
}
legend{
    padding:5px 10px;
    color:#d35400;
    font-weight:bold;
}
label{
    display:block;
    margin-top:10px;
    font-weight: bold;
}
input[type=text],
input[type=tel],
select,
textarea{
    width:100%;
    padding:10px;
    margin-top:5px;
    margin-bottom:10px;
    border:1px solid #5f5e5e;
    border-radius:5px;
}
textarea{
    resize:none;
    height:80px;
}
input[type=submit]{
    width:100%;
    background:#ff6600;
    color:white;
    border:none;
    padding:15px;
    font-size:18px;
    cursor:pointer;
    border-radius:5px;
}
input[type=submit]:hover{
    background:#ff6600;
}
#btnEnviar:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}